################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightORM/LightORM/obj/Debug
/LightORM/Presentation/obj/Debug
/LightORM/Presentation/bin/Debug
/LightORM/LightORM/bin/Debug
/LightORM/.vs/LightORM/DesignTimeBuild
/LightORM/.vs/LightORM/v15/Server/sqlite3
/LightORM/.vs/LightORM/v15
